.footer {
    background-color: #212529;
    color: white;
    padding: 25px;
}

.footer a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: #02756b;

}

.footer h5 {
    text-transform: uppercase;
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 700;
}


.footer .social-icons i {
    transition: transform 0.3s ease, color 0.3s ease;
}

.footer .social-icons i:hover {
    color: #02756b;
    transform: scale(1.2);
}

.footer .bottom-text {
    border-top: 1px solid #495057;
    margin-top: 10px;
    padding-top: 10px;
    text-align: center;
    font-size: 15px;
    color: #adb5bd;
}